*{
    padding: 0;
    margin: 0;
}

header{
    border-bottom: solid 1px#959595;
    height: 2em;
}

.miniMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 13px;
}

.miniMenu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #959595;
}

.voltar{
    margin-left: 1em;
}

.voltar::before {
    color: #959595;
    content: '<';
    position: relative;
    left: -0.3em;
}

.menu a{
    margin-right: 2em;
}