<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6fea23db9353af15956510dfee15927d93e7105b
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.logo{
    margin-bottom: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name, #gender, #birthday, #RG, #CPF, #adress{
    margin-bottom: 1em;
}

<<<<<<< HEAD
input[type='text'],input[type='date'],select{
=======
input[type='text'],select{
>>>>>>> 6fea23db9353af15956510dfee15927d93e7105b
    width: 380px;
    height: 40px;
    text-align: start;
    padding: 0 45px 0 16px;
    border: 1px solid #e5e5e5;
}

div .label{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.checkbox{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

input[type="checkbox"]{
    font: inherit;
    color: currentColor;
    width: 3em;
    height: 1.5em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.checkboxt{
    display: flex;
    justify-content: center;
}

input[type="submit"]{
    margin-top: 1em;
    width: 380px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: solid 1px black;
}

input[type="submit"]:hover{
    cursor: pointer;
<<<<<<< HEAD
=======
=======
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.logo{
    margin-bottom: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name, #gender, #birthday, #RG, #CPF, #adress{
    margin-bottom: 1em;
}

input[type='text'],select{
    width: 380px;
    height: 40px;
    text-align: start;
    padding: 0 45px 0 16px;
    border: 1px solid #e5e5e5;
}

div .label{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.checkbox{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

input[type="checkbox"]{
    font: inherit;
    color: currentColor;
    width: 3em;
    height: 1.5em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.checkboxt{
    display: flex;
    justify-content: center;
}

input[type="submit"]{
    margin-top: 1em;
    width: 380px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: solid 1px black;
}

input[type="submit"]:hover{
    cursor: pointer;
>>>>>>> e732b9a5b8e6f0309cf7b6f5eb378e2c04967b52
>>>>>>> 6fea23db9353af15956510dfee15927d93e7105b
}