
.hero{
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-hero{
    border: 1px solid black;
    height: 35em;
    width: 70em;
    overflow: hidden;
    filter: grayscale(65%);
}


.hero-tittle{
    margin-bottom: 1em;
}

.merchandise{
    margin-top: 3em;
}

.merchandise h2 {
    text-align: start;
    color: rgb(87, 87, 87);
}

.index-products{
    width: 300px;

}

.produtos{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 50px;
}

.produtos-hover{
    position: absolute;
    display: none;
    background-color: var(--Literally-White);
    width: 57em;
    height: 18em;
    opacity: 0.7;
    place-items: center;
}

.lojaRedirect{
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--Black-Pearl);
    border: solid black 1px;
    padding: 10px 10px 10px 10px;
}

.lojaRedirect:hover{
    font-size: 20px;
    padding: 20px 20px 20px 20px;
}

.history{
    animation: odeiominhavida 3s;
    position: absolute;
    content: ' ';
    z-index: 1;
    width: 400px;
    height: 250px;
    left: 60em;
    top: 23em;
    background: white;
}

.historyChildren{
    position: absolute;
    content: ' ';
    z-index: 1;
    width: 150px;
    height: 250px;
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
    margin-left: -45px; /* (tangens(20deg)*100px)/2 */
    background: white;
}

.historyText{
    position: relative;
    z-index: 2;
    left: -80px;
    width: 470px;
    font-size: 21px;
    text-align: justify;
}

.historyText a {
    text-decoration: none;
    color: black;
}

@keyframes odeiominhavida {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}